@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  @apply bg-secondary rubik overflow-x-hidden;
}

.container {
  @apply px-4 !max-w-[1200px] !mx-auto xl:px-0;
}

#navbar {
  @apply hidden xl:flex;
}

#navbar-check:checked + #navbar {
  @apply flex;
}

.satoshi {
  font-family: "Satoshi", sans-serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.button {
  transition: 0.2s all ease !important;
  @apply px-[1.5rem] xl:px-[2.8125rem] py-[1rem] xl:py-[1.3125rem] bg-primary w-fit text-secondary font-bold satoshi border-2 border-primary hover:bg-transparent hover:text-primary;
}

.black-button {
  transition: 0.2s all ease !important;
  @apply px-[1.5rem] xl:px-[2.8125rem] py-[1rem] xl:py-[1.3125rem] bg-secondary w-fit text-primary font-bold satoshi border-2 border-secondary hover:bg-transparent hover:text-primary;
}

.button-flex {
  @apply flex gap-[1.3125rem] w-fit;
}

.service {
  @apply cursor-pointer;
}

#carousel-container {
  transform: translateX(100vw);
}

#phone-navbar {
  display: none;
}

#nav-checkbox:checked #phone-navbar {
  display: block;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: none; */
}

.navbar-menu-item {
  margin-right: 15px;
}

.navbar-menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.navbar-hamburger:focus .navbar-menu {
  @apply flex;
}

.owl-carousel .owl-stage-outer {
  @apply overflow-visible;
}

.owl-nav {
  @apply hidden;
}

@media only screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .navbar-menu-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-hamburger {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 0;
}
#clients .owl-item {
  @apply flex justify-center;
}

#clients .owl-stage {
  @apply flex !justify-between after:hidden overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply !leading-[150%];
}
